# Spotted Python Week 2 Tutorial
In this script, we aim to practice the following skills:
- Markdown
- Importing modules
- Simple arithmetic
- Manipulating lists and arrays
- Creating functions

In [1]:
# It is standard practice to import the required modules at the beginning of the script
import numpy as np # for this tutorial, we will only be using numpy

## Markdown
The following can be used as a reference for basic Markdown formatting syntax.

---
#### *<ins>Headings</ins>*
# Heading 1
## Heading 2
### Heading 3
#### Heading 4
##### Heading 5
###### Heading 6

---
#### *<ins>Ordered List</ins>*
1. Item 1
2. Item 2
3. Item 3

---
#### *<ins>Unordered List</ins>*
- Item 1
- Item 2
- Item 3

---
#### *<ins>Other Elements</ins>*
| Element        | Markdown                                                                     |
|----------------|------------------------------------------------------------------------------|
| Bold           | **Bold**                                                                     |
| Italic         | *Italic*                                                                     |
| Bold and Italic| ***Bold and Italic***
| Highlight      | <mark>Highlight</mark>                                                       |
| Underline      | <ins>Underline</ins>                                                         |
| Strikethrough  | ~~Strikethrough~~                                                            |
| Link           | [PHYS3116 Moodle](https://moodle.telt.unsw.edu.au/course/view.php?id=85622)  |

### **Exercise 1**
Write an introduction about yourself in the following space. Try to be creative with your Markdown skills.

Write your introduction here

## BODMAS with Python
Let's try doing some arithmetics using Python

In [2]:
4/2

2.0

In [3]:
3*19

57

In [4]:
12**3

1728

In [5]:
(77*21)%4

1

In [6]:
(481**0.5-22*5)%8

7.931712199461316

### **Example:**
Calculate the escape velocity of a spacecraft to escape from the Earth's gravitational pull. Given,
- $M_E= 5.97 \times 10^{24} \text{kg}$
- $R_E=6371 \text{km}$
- $G=6.67 \times 10^{−11}\text{ m}^{3}\text{kg}^{−1}\text{s}^{−2}$
- $v_{esc}=\sqrt{\frac{2GM}{R}}$

In [7]:
# Define the parameters
M_earth = 5.97*10**24 # mass of earth, kg
R_earth = 6371000 # radius of earth, m
G = 6.67*10**-11 # gravitational constant, m^3kg^-1s^-2

# Calculate the escape velocity
v_esc = ((2*G*M_earth)/R_earth)**0.5 # escape velocity, ms^-1
print(v_esc) # this prints the value

11180.501335284713

### **Exercise 2:**
Given the mass of the sun is $M_\odot=1.989 \times 10^{30} \text{ kg}$, the radius of the sun is $R_\odot=696340 \text{ km}$, and the gravitational constant is $G=6.67 \times 10^{−11}\text{ m}^{3}\text{kg}^{−1}\text{s}^{−2}$. What is the gravitational acceleration of the Sun? Recall, $$g=\frac{GM}{R^2}.$$

## Data Types and Lists

In [8]:
# Define variables
a = 2
b = 4.010
c = '6.888'
d = 18.93
numbers = [a, b, c, d]
lecturers = ['Jesse', 'Nicole']
tutors = ['Michelle', 'Finn']
numbers

[2, 4.01, '6.888', 18.93]

Let's try the following

In [9]:
a+b

6.01

In [10]:
c+d

TypeError: can only concatenate str (not "float") to str

In [11]:
numbers = [a, b, c, d]

In [12]:
staff = lecturers + tutors

In [13]:
staff

['Jesse', 'Nicole', 'Michelle', 'Finn']

In [14]:
4*numbers

[2,
 4.01,
 '6.888',
 18.93,
 2,
 4.01,
 '6.888',
 18.93,
 2,
 4.01,
 '6.888',
 18.93,
 2,
 4.01,
 '6.888',
 18.93]

Opps, there are some errors! This is because, we cannot add a string to a number, nor can we multiply each element in a list by a number. To solve this error, we must convert the string to a floating point number. Whilst the latter error is one of the most basic reasont that motivates us to use arrays.

In [15]:
c_num = float(c) # convert c to a floating point number
numbers_array = np.array([a, b, c_num, d]) # convert list to an array, ensuring all objects are numbers

Now let's try the errors again

In [16]:
c_num+d

25.817999999999998

In [17]:
4*numbers_array

array([ 8.   , 16.04 , 27.552, 75.72 ])

Error solved!

## Arrays
Now that we can see some benefit in using arrays, let's try to manipulate them.

In [ ]:
# Define some arbitrary arrays
arr1 = np.array([2, 4, 6, 8, 10, 12]) # list of even numbers
arr2 = np.arange(1, 13, 2) # creates an array of odd numbers from 1 to 11
arr3 = np.array([[1,2,3],
                 [4,5,6],
                 [7,8,9]]) # 3x3 array
arr4 = np.array([[2,4,9],
                 [7,1,8],
                 [5,3,6]]) # 3x3 array

Again, let's play with these arrays and predict what it will do

In [ ]:
arr3[2,-2] # 3rd to 3rd last value in arr3

In [ ]:
arr2[:-4] # first to 5th last value in arr2

In [ ]:
arr3[0] # first list in arr3

In [ ]:
arr4[:,1] # 2nd column of arr4

In [ ]:
arr4[2,:] # 3rd row of arr4

In [ ]:
np.sum(arr1) # sum of all values in arr1

In [ ]:
np.argmax(arr2) # index of the maximum value in arr2

In [ ]:
len(arr2) # number of elements in arr2

In [ ]:
np.size(arr3) # total amount of memory allocated to store arr3

In [ ]:
np.shape(arr4) # dimensions of arr3

In [ ]:
np.concatenate((arr3,arr4)) # combined list of values from arr3 and arr4

In [ ]:
arr3 * arr4 # elementwise multiplication of values in arr3 and arr4

In [ ]:
np.matmul(arr3, arr4) # matrix multiplication between arr3 and arr4

### **Exercise 3:**
Using the defined arrays find the following:
1. Largest number in arr5
2. Index/indices of the smallest number in arr6
3. 5th to 27th values in arr5
4. 13th to 3rd last values in arr6
5. Elementwise sum of the 1st to 15th values of arr5 and arr6
6. Size of arr7
7. Matrix multiplication of arr7 and arr8
8. Combined list of values from arr7 and arr8
9. Elementwise multiplication of arr7 and arr8, as well as the value on the 2nd row and 3rd column from the resulting array.

In [ ]:
# Define arrays
arr5 = np.array([32, 69, 112, 64, 115, 89, 57, 97, 176, 89, 74, 76, 141, 102, 113, 105, 74, 32, 81, 186, 89, 150, 161, 119, 115, 60, 110, 140, 96, 73, 142, 171, 153, 99, 61, 158, 137, 73, 163, 68])
arr6 = np.array([22, 12, 21, 23, 16, 23, 13, 13, 20, 11, 18, 14, 23, 11, 15, 11, 22, 13, 15, 11, 21, 16, 13, 20, 15])
arr7 = np.array([[8, 5, 10, 7], [3, 8, 3, 4], [6, 2, 7, 7], [5, 5, 2, 6]])
arr8 = np.array([[8, 1, 3, 9], [9, 1, 10, 10], [10, 9, 6, 2], [8, 3, 3, 5]])